@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {/*감성쩔*/
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { /*에스코어 드림*/
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0 auto;;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;

}
body{
   
}

#conatiner{ /*전체 구조*/
    margin:0 auto;
    width: 1200px;
}
/* 헤더 */
header{
    width:100%;
    height:200px;
    background-color:#375959;
}

#logo{
    float:left;
    width:250px;
    height:100px;
    line-height:70px;
    padding:20px;
    
}
#logo h1{
    font-family: 'yg-jalnan';
    font-weight:100;
    font-size:50px;
    color:#fff;
    text-shadow:0 -1px 0 #222;
}
#inform{
    float:right;
    width:600px;
    height:100px;
    padding-right:10px;
    font-size:18px;
    font-family: 'S-CoreDream-3Light';
}
#inform > ul>li{
    float: right;
    padding:15px;
    margin-right:20px;
    font-weight:600;
}

#inform> ul>li> a{
    display:block;
    color:white;
}
#inform> ul>li> a:hover{
    color:#07c;
}

nav{
    font-size:18px;
    clear:both;
    width:100%;
    height:80px;
    overflow:hidden;
    padding:50px;
    background-color:#375959;
    font-family: 'S-CoreDream-3Light';
}


#topMenu > li{
    float : left;
    margin-right:50px;
    margin-top:-20px;
}

#topMenu > li > a{
    display:block;
    color:white;
    font-weight:600;
}

#topMenu > li > a:hover{
    color:#D1433A; /*마우스 포인터 올리면 바뀌는 색*/
}

#headline{
    width:900px;
}
#wrap{
    margin-top:50px;
}

#headline h2{
    font-weight:bold;
    font-size:20px;
    color:rgb(0, 0, 0);
    margin-top:50px;
    font-family: 'S-CoreDream-3Light';
}

#headline button{
    float:right;
    color: #fff;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
   border: 1px solid silver;
   padding: 10px 15px;
    border-radius: 6px;
    font-family:'Pretendard-Regular';
}
ul#gallery{
    margin-top: 30px;
    margin-bottom:100px;
      list-style: none;
      padding: 0;
      width: 1000px;
  }
  
  ul#gallery> a> li{
      position: relative;
      display: inline-block;
      background-color: rgb(252, 252, 252);
      width: 300px;
      height: 300px;
      margin: 5;
      overflow: hidden;
      margin:6px;
  }
/*   
  ul#gallery>a>li::after{
      box-sizing: border-box;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      width: 87%;
      height: 87%;
      padding-top: 80px;
      transform: translate(-50%, -50%);
      text-align: center;
      content: '글 제목';
      font-size: 35px;
      color: #fff;
      opacity: 0;
      transition: 0.8s;
  } */
/*   
  ul#gallery>a>li>img{
      width: 100%;
      height: 100%;
      transition: 0.6s ease-in-out;
      
  } */
/*   
  ul#gallery>a>li:hover img{
      transform: scale(1.18);
      opacity: 0.65;
  }
  
  ul#gallery>a>li:hover::after{
      opacity: 1;
  } */

  footer{
    width:100%;
    height:100px;
    background-color:#050e07;
}

.photo img{
   float:left;
   width:100%;
   height:220px;
}
.title{
    float:left;
    width:100%;
    height:60px;
    padding-top:5px;
    /* background-color:#ffffff; */
    font-family: 'S-CoreDream-3Light';
    font-size:20px;
    color:#375959;
    font-weight:border;
    padding-bottom:5px;
}

.writer{
    float:left;
    font-size:12px;
    padding-top:5px;
    color:#375959;
    font-family: 'S-CoreDream-3Light';
}
.date{
    float:right;
    font-size:12px;
    padding-top:5px;
    color:#375959;
    padding-right:5px;
}
#page_contorl{
	text-align: center;
	margin-bottom: 50px;
}
.page_li{
	margin: 10px;
	display: inline-block;
	font-family: 'S-CoreDream-3Light';
	color:black;
}
.page_li:hover{
	color:red;
	font-weight: bold;
}
#curPage{
	color: red;
	font-weight: bold;
}
