@font-face { /*여기어때*/
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {/*감성쩔*/ /*소글씨*/
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { /*에스코어 드림*/ /*제목같은거*/
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { /*나눔*/
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }

   *{
    padding: 0;
    margin: 0;
    border: none;
}
ul{
    list-style:none;
}

a:link{
    text-decoration: none;
    color:block;
}

body{

    background: url(../image/campingzone.jpg)no-repeat 100%;
}

#container{
    width:100%;
    height:auto;
}

#contents{
    width:100%;
    margin-top:100px;
}
#logo a{
    padding-left:10px;
    font-family: 'yg-jalnan';
    font-weight:100;
    font-size:50px;
    color:#fff;
    text-shadow:0 -1px 0 #222;

}

#form{
    background-color:white;
    width: 550px;
    height:500px;
    margin: 0 auto;
    text-align: center;
    padding:20px;
    border: 1px solid black;
    border-radius: 50px;

}


h2{
    margin-top:60px;
    font-size:35px;
    font-family: 'yg-jalnan';
	color:rgb(43, 150, 114);
}
td{
    border: 1px solid black;
    width: 300px;
    height: 50px;
    font-size: 15px;
    font-family: 'S-CoreDream-3Light';
    background-color: rgb(43, 150, 114);
    border:rgb(186, 231, 216) solid 1px;
    color:white;
}


table{
    margin: 70px;
    border-collapse:collapse;
    border:none;
}
input:not([type=submit]){
    width: 300px;
    height: 50px;
    margin: 0;
    font-size: 20px;
    background-color:b#F8F8F8;
}

input[type=submit]{
    width: 160px;
    height: 60px;
    font-size: 18px;
    font-family: 'S-CoreDream-3Light';
    color: white;
    border-radius:6px;
    background-color:  rgb(0, 0, 0);
}

input[type=submit]:hover{
    background-color:rgb(43, 150, 114);
	color:#fff;
}


ul{
	margin-top:80px;
	font-size:30px;
	font-family: 'S-CoreDream-3Light';
}


button{
    display:block;
    color: #fff;
    font-size: 20px;
    background-color: #050e07;
    margin:auto;
    margin-top: 60px;
	border: 1px solid silver;
	padding: 10px;
    font-family:'Pretendard-Regular';
    font-weight:bolder;
}
button:hover{
    background-color:pink;
	color:#fff;
}

footer{
    width:100%;
    height:100px;
    position : relative;
    transform : translateY(200%);
    background-color:#050e07;
}