@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {/*감성쩔*/
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { /*에스코어 드림*/
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { /*나눔*/
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
}

body{
    background-color:#ebebeb;
    background: url(../image/camper.jpg)no-repeat 100%;
}


#conatiner{ /*전체 구조*/
    margin:0 auto;
    width: 100%;
    height:100%;
    
}
/* 헤더 */
header{
    width:100%;
    height:200px;
    background-color:#375959;
}

#logo{
    float:left;
    width:250px;
    height:100px;
    line-height:70px;
    padding:20px;
    
}
#logo h1{
    font-family: 'yg-jalnan';
    font-weight:100;
    font-size:50px;
    color:#fff;
    text-shadow:0 -1px 0 #222;
}
#inform{
    float:right;
    width:600px;
    height:100px;
    padding-right:10px;
    font-size:18px;
    font-family: 'S-CoreDream-3Light';
}
#inform > ul>li{
    float: right;
    padding:15px;
    margin-right:20px;
    font-weight:600;
}

#inform> ul>li> a{
    display:block;
    color:white;
}
#inform> ul>li> a:hover{
    color:#07c;
}

nav{
    font-size:18px;
    clear:both;
    width:100%;
    height:80px;
    overflow:hidden;
    padding:50px;
    background-color:#375959;
    font-family: 'S-CoreDream-3Light';
}


#topMenu > li{
    float : left;
    margin-right:50px;
    margin-top:-20px;
}

#topMenu > li > a{
    display:block;
    color:white;
    font-weight:600;
}

#topMenu > li > a:hover{
    color:#D1433A; /*마우스 포인터 올리면 바뀌는 색*/
}

#contents{
    width:100%;
    height:100%;
    /*background-color:rgb(255, 24, 24);*/
    margin:auto;
    margin-top:100px;
   
}


#contents h2{
    font-family: 'GangwonEdu_OTFBoldA';
    text-align:center;
    margin-bottom:30px;
    font-size:30px;
    color:white;
    text-shadow:2px black;
    margin-bottom:80px;
}

#tag_Search{
    width:800px;
    height:300px;
   /* background-color:rgb(53, 255, 26);*/

}

ul{
    list-style-type: none;
    text-align:center;
  }
li{
    display:inline-block;
    padding-bottom:15px;
    font-family: 'S-CoreDream-3Light';
    
}

input[type="checkbox"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0
    }
label{
   font-size:23px;
   padding:3px;
   text-align:center;
   
}    
label.labelAfterCheckBox{
   color:rgb(0, 0, 0);
    background-color: rgb(255, 245, 106);
    border:1px dotted #354D39;
}



.card{
    width:1000px;
    height:300px;
   background-color:rgb(247, 247, 247);
   padding:20px;
    margin:auto;
}

.card img{
    float:left;
    margin-left:5px;

    width:340px;
    height:260px;
}

.campinfo{
    float:left;
    background-color:#f1f1f1;
    width:600px;
    height:260px;
    margin-left:10px;

}

.campinfo_head{
    margin-top:20px;
    margin-left:20px;
    width:550px;
    height:70px;
   /* background-color:rgb(103, 36, 228);*/
}
.campinfo_head>a{
    font-size:30px;
    font-family: 'yg-jalnan';
    font-weight:550;
    color:black;
}


.wishlist{
    float:right;
}
.wishlist>a>img{
    width:80px;
    height:46px;
    margin-top:-0.5px;
    margin-left:-10px;
}

.campinfo_conetents{
    width:550px;
    height:100px;
    margin-top:20px;
    margin-left:20px;
    background-color:rgb(23, 83, 65);
}
.campinfo_contents li{
    float:left;
    margin-right:30px;
    margin-left:40px;
    font-size:18px;
    list-style-image:url(../image/button.png);
    font-family: 'S-CoreDream-3Light';
    
}

.campinfo_detail{
    width:550px;
    height:100px;
    margin-top:60px;
    margin-left:20px;
   border:1px solid #D1433A;background-color:rgb(255, 255, 255);
}

.campinfo_detail ul{

    width:100%;
    position:relative;
    margin-left:10px;
    padding-top:5px;
}

.campinfo_detail li{
    font-size:15px;
    padding-bottom:5px;
    text-align:center;
    margin-top:18px;
    position:relative; height:100%; width:16%; float:left;
    list-style-image:url(../image/next_tab.png);
    font-family: 'NanumBarunGothic';
}

.page_li{
	    margin-top:18px;
	    font-family: 'NanumBarunGothic';
	    
}

.page_li > a{
	 color:white;
}

footer{
    width:100%;
    height:150px;
    position : relative;

    background-color:#050e07;
}