@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {/*감성쩔*/
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { /*에스코어 드림*/
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { /*나눔*/
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
}

body{
    background-color:#ebebeb;
    background: url(../image/camper.jpg)no-repeat 100%;
}


#conatiner{ /*전체 구조*/
    margin:0 auto;
    width: 100%;
    height:100%;
}
/* 헤더 */
header{
    width:100%;
    height:200px;
    background-color:#375959;
}

#logo{
    float:left;
    width:250px;
    height:100px;
    line-height:70px;
    padding:20px;
    
}
#logo h1{
    font-family: 'yg-jalnan';
    font-weight:100;
    font-size:50px;
    color:#fff;
    text-shadow:0 -1px 0 #222;
}
#inform{
    float:right;
    width:600px;
    height:100px;
    padding-right:10px;
    font-size:18px;
    font-family: 'S-CoreDream-3Light';
}
#inform > ul>li{
    float: right;
    padding:15px;
    margin-right:20px;
    font-weight:600;
}

#inform> ul>li> a{
    display:block;
    color:white;
}
#inform> ul>li> a:hover{
    color:#07c;
}

nav{
    font-size:18px;
    clear:both;
    width:100%;
    height:80px;
    overflow:hidden;
    padding:50px;
    background-color:#375959;
    font-family: 'S-CoreDream-3Light';
}


#topMenu > li{
    float : left;
    margin-right:50px;
    margin-top:-20px;
}

#topMenu > li > a{
    display:block;
    color:white;
    font-weight:600;
}

#topMenu > li > a:hover{
    color:#D1433A; /*마우스 포인터 올리면 바뀌는 색*/
}

#contents{
    width:1100px;
    height:700px;
    /*background-color:rgb(255, 24, 24);*/
    margin:auto;
    margin-top:-60px;
    padding:210px;
}

#contents h2{
    font-family: 'GangwonEdu_OTFBoldA';
    text-align:center;
    margin-bottom:30px;
    font-size:35px;
    color:white;
    text-shadow:2px black;
}

#tag_Search{
    width:1000px;
    height:300px;
   /* background-color:rgb(53, 255, 26);*/

}

ul{

    list-style-type: none;
    text-align:center;
  }

li{
    display:inline-block;
    padding-bottom:15px;
    font-family: 'S-CoreDream-3Light';
}

input[type="checkbox"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0
    }
label{
   font-size:22px;
   padding:3px;
   text-align:center;
   
}    

label.labelAfterCheckBox{
   color:rgb(0, 0, 0);
    background-color: rgb(255, 254, 254);
    border:1px dotted #354D39;
}
input[type="checkbox"]:checked + label.labelAfterCheckBox{
    color:#000000;
    background-color:rgb(255, 245, 106);

}

button{
    margin:0 auto;
    margin-top:50px;
    width:40%;
    height:70%;
    display: block;
    text-align:center;
    font-family: 'S-CoreDream-3Light';
    padding: 8px;
    font-size:20px;
    font-weight:bold;
    color:#fff;
    background-color: rgb(43, 150, 114);

}

button:hover{
    background-color:#D1433A;
	color:rgb(255, 255, 255);
}

footer{
    width:100%;
    height:100px;
    position : relative;
    transform : translateY(100%);
    background-color:#050e07;
}